.form__weather{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
   
}

h1,h2,h3,h4{
    margin: 10px 0;
    color: white;
}

.city,.temperature{
    font-size: 5em;
    text-shadow: 3px 4px 5px black;
    -webkit-text-stroke: 1px black;
}

.date,.weather{
    font-size: 1.5em;
    text-shadow: 2px 2px black;
}

.weather{
    font-size: 2em;
}

.con{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
}

.inp{
    width: 495px;
    height: 80px;
    border: none;
    text-align: center;
    background-color: rgba(12,15,23,0.5);
    font-size: 1.5em;
    color: white;
    
}

.inp::placeholder{
    color: white;
}


.search{
    display: inline-block;
    width: 50px;
    height: 80px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
    border: none;
}



.bgc{
    position: absolute;
    display: block;
    
    min-width: 100%;
    height: auto;
    z-index: -1;
}

@media(max-width: 1000px){

    .form__weather{
        font-size: 17px;
    }

    .inp{
        width: 400px;
        height: 80px;
        border: none;
        text-align: center;
        background-color: rgba(12,15,23,0.5);
        font-size: 1.5em;
        color: white;
        
    }


    .bgc{
        transform: scale(0.8);
    }
}

@media(max-width: 700px){

    .form__weather{
        font-size: 13px;
    }

    .search{
        
        width: 50px;
        height: 60px;
       
       
    }

    .inp{
        width: 350px;
        height: 60px;
        border: none;
        text-align: center;
        background-color: rgba(12,15,23,0.5);
        font-size: 1.5em;
        color: white;
        
    }


    .bgc{
        transform: scale(0.8);
    }
}

@media(max-width: 900px) and (orientation:landscape){

    .form__weather{
        font-size: 10px;
        height: 100vh;
    }

    .con{
        margin-top: 10px;
    }
    h1,h2,h3,h4{
        margin: 5px 0;
    }

    .search{
        
        width: 50px;
        height: 60px;
       
       
    }

    .inp{
        width: 350px;
        height: 60px;
        border: none;
        text-align: center;
        background-color: rgba(12,15,23,0.5);
        font-size: 1.5em;
        color: white;
        
    }


    .bgc{
        transform: scale(0.8);
    }
}

@media(max-width: 550px){

    .form__weather{
        font-size: 13px;
    }

    .search{
        
        width: 40px;
        height: 50px;
       
       
    }

    .inp{
        width: 250px;
        height: 50px;
        border: none;
        text-align: center;
        background-color: rgba(12,15,23,0.5);
        font-size: 1.5em;
        color: white;
        
    }


    .bgc{
        transform: scale(0.7);
    }
}